modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8888
externalPort = 3001

[[ports]]
localPort = 44083
externalPort = 3002

[[ports]]
localPort = 46511
externalPort = 80

[workflows]
runButton = "Express Server"

[[workflows.workflow]]
name = "Express Server"
author = 26705049
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
